
body {
    font-family: 'Cabin';
}

.menu {
    margin-bottom: 0;
}


.header {
    background-color: #10BBD5;
    padding: 16px 0;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.header-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.container {
    max-width: 1296px;
    margin: 0 auto;
}

.cart {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: baseline;
    position: relative;
}

.cart .total {
    color: #F8FDFE;
    font-size: 16px;
    font-weight: 400;
}

.cart button {
    border: none;
}

.line {
    border: 1px solid #A8A8A8;
    margin-bottom: 24px;
}

.decoration {
    display: flex;
    flex-direction: row;
}

.decoration .rounds {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #fff;
    position: absolute;
}

.first-round {
    right: 34px;
    top: 32px;
}

.secondary-round {
    top: 32px;
    right: 17px;
}

.fixed-header {
    position: fixed;
    width: 100%;
    z-index: 2;
}

.nav {
    padding: 4px 0;
    top: 64px;
    background-color: #fff;
}

.nav-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav a {
    font-size: 16px;
    font-weight: 400;
    color: #000;
}

.nav ul {
    display: flex;
    flex-direction: row;
    gap: 40px
}

.menu .link:hover {
    text-decoration: none;
    color: peru;
}

.nav-wrapper a:hover {
    text-decoration: none;
    color: peru;
}

/*section goods*/
.main-title {
    font-size: 32px;
    font-weight: 600;
    color: #1F1F1F;
    margin-bottom: 23px;
}

.goods {
    padding-top: 120px;
    background-color: #EEEEEF;
    padding-bottom: 120px;
}

.products {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 32px 0;
}


.product {
    border: 1px solid #A8A8A8;
    background: #F8FDFE;
    width: 306px;
    display: flex;
    flex-direction: column;
    padding: 32px 32px;
    position: relative;
}

.chat {
    cursor: pointer;
    position: fixed;
    width: 64px;
    z-index: 1;
    border: none;
    padding: 0;
    bottom: 125px;
}

.chat-icon {
    background-color: rgba(16, 187, 213, 1);
    border-radius: 35px;
    width: 64px;
    height: 64px;
    position: absolute;
    left: 360px;
    bottom: -30px;
}


.product-image img {
    width: 178px;
    margin-bottom: 16px;
}

.product-image {
    margin: 0 auto;
    position: relative;
}

.products .category {
    padding: 4px 8px;
    border-radius: 4px;
    color: #ffff;
    position: absolute;
    z-index: 1;
    font-size: 16px;
}

.products .block {
    position: relative;
}

.sale {
    left: 42px;
    background-color: #EA33C0;
    width: 70px;
}

.different {
    left: 50px;
}

.special {
    width: 74px;
}

#special {
    left: 10px;
}

.category-hit {
    background-color: #4200FF;
}

.category-new {
    width: 47px;
    background-color: #AF39E7;
}

.products .info {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.products .info .product-name {
    font-size: 20px;
    font-weight: 700;
}

.products .info .author {
    color: #8E8E8E;
    font-size: 16px;
    font-weight: 400;
}

.products .price {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.products .price span {
    color: #E90000;
    font-size: 24px;
    font-weight: 500;
}

.products .price .secondary {
    color: #8E8E8E;
    text-decoration: line-through;
}

.products .price {
    margin-bottom: 16px;
}

.products .button {
    padding: 8px 24px;
    color: #F8FDFE;
    font-size: 16px;
    background-color: #4C394E;
    font-weight: 400;
}

.products .active {
    background-color: #4D762D;
}

footer {
    padding: 32px 0;
    background-color: #4C394E;
}

footer .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .info span {
    color: #F8FDFE;
    font-size: 16px;
    font-weight: 400;
}



